.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
out/**
node_modules/**
build/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.gitattributes
tsconfig.json
dist/web/test/**
dist
backup

# project
.github/
!node_modules/prettier
test-workspace/
scripts/
commitlint.config.js